@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


/* --Custom cursors */
body {
  font-family: 'Bai Jamjuree', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  cursor: url("src/assets/images/cursors/white-arrow.png"), auto;
}

a,
button,
.custom-cursor {
  cursor: url("src/assets/images/cursors/finger.png"), auto;
}

img {
  user-select: none;
  /* Modern browsers */
  -webkit-user-drag: none;
  /* Prevent dragging in WebKit browsers */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  pointer-events: none;
  /* Disable all pointer interactions */
}



.primary-btn:hover {
  background: #5e1381;
  background: repeating-linear-gradient(to right, #5e1381 0%, #6c1a92 50%, #9046A5 100%);
}

.gradient-text-1 {
  background: #1b0525;
  background: repeating-linear-gradient(to right, #1b0525 0%, #450f5e 50%, #8f45a3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* --Scroll reveal animation-- */
.not-shown {
  opacity: 0;
  scale: 0.81;
  transition: all 0.73s;
}

.shown {
  opacity: 1;
  scale: 1;
}