

/* Body font */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;




/* ========= VARIABLES ========== */
:root {
  --main-color:#272727;
  --fourth-color: #212124;

  --body-font: 'Bai Jamjuree', sans-serif;
  --logo-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--body-font);
  cursor: url("@/assets/images/cursors/white-arrow.png"), auto;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

a,
button,
.custom-cursor {
  cursor: url("@/assets/images/cursors/finger.png"), auto;
}

img {
  user-select: none;
  pointer-events: none;
}


.logo-font{
  font-family: var(--logo-font);
}


.blur-bg{
  background-color: rgba(246, 245, 255, 0.363);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.blur-bg-2{
  background-color: rgba(244, 202, 255, 0.308);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.color-dark {
  color: var(--main-color);
}
.bg-dark {
  background-color: var(--main-color);
}


.gradient-text-1{
  background: linear-gradient(180deg, #1b0525 0%, #6f2b8f 50%, #e09df3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
  background: linear-gradient(to right, #4a175e 0%, #ac8cbb 50%, #bc98ca 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-3{
  background: linear-gradient(to right, #cb89e6 0%, #f8e9ff 50%, #f8f8f8 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-4{
  background: linear-gradient(to left, #12031a 0%, #a660c7 50%, #f0c5fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* --Scroll reveal animation-- */
.not-shown {
  opacity: 0;
  scale: 0.81;
  transition: all 0.55s;
}

.shown {
  opacity: 1;
  scale: 1;
}


/* Disbales browser autofill background-color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}